.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e6e6e6;

  --primary-color: #005600;
  --secondary-color: #039e03;

  --inverted-primary-color: #0012db;
  --inverted-secondary-color: #4e60ff;
}
