.app.light {
  --bg-color: #e6e6e6;
  --inverted-bg-color: #0e0e75;

  --primary-color: #0012db;
  --secondary-color: #001aff;

  --inverted-primary-color: #005600;
  --inverted-secondary-color: #039e03;
}
