.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  background: none;
  border: 1px solid var(--primary-color);
}

.background {
  background: var(--primary-bg-color);
  border: none;
}

.backgroundInverted {
  color: var(--inverted-primary-color);
  background: var(--inverted-primary-bg-color);
  border: none;
}

.square {
  width: 40px;
  height: 40px;
}
