.Navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 20px;

  background-color: var(--inverted-primary-bg-color);
}

// .links {
//   margin-left: auto;
// }

.switchers {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  min-width: 80px;
}
