.Modal {
  pointer-events: none;

  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  opacity: 0;
  background: var(--overlay-color);

  transition: 0.3s opacity;
}

.content {
  max-width: 60%;
  padding: 20px;
  background: var(--primary-bg-color);
  border-radius: 12px;
}

.opened {
  pointer-events: auto;
  z-index: var(--modal-z-index);
  opacity: 1;

  .overlay {
    opacity: 1;
  }
}

.isClosing {
  .overlay {
    opacity: 0;
    transition: 0.4s opacity;
  }
}
