.Sidebar {
  position: relative;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));

  background: var(--inverted-primary-bg-color);

  transition: width 0.2s;
}

.collapsed {
  width: var(--collapsed-sidebar-width);
}

.collapseBtn {
  position: absolute;
  right: -40px;
  bottom: 20px;
}
